<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#da6b2d">
    <link rel="manifest" href="manifest.json">
    <meta name="description" content="Food Catalogue">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Foodilo</title>
</head>
<body>
    <a href="#menu-header" class="skip-to-content">Menuju Daftar Restoran</a>
    <header class="header">
        <nav class="navbar">
            <h1 class="heading-title">
                Foodilo
            </h1>
            <button aria-label="hamburger button" class="hamburger" tabindex="0">☰</button>
            <ul class="navbar-list">
                <li class="navbar-item">
                    <a href="/" class="navbar-link">Home</a>
                </li>
                <li class="navbar-item">
                    <a href="#/favorite" class="navbar-link">Favorite</a>
                </li>
                <li class="navbar-item">
                    <a href="https://instagram.com/mrdzick" target="_blank" class="navbar-link">About Us</a>
                </li>
            </ul>
        </nav>
        <div class="hero">
            <div class="hero-image-box">
                <picture>
                    <source media="(max-width: 499px)" data-srcset="hero-image_3-small.jpg">
                    <source media="(max-width: 899px)" data-srcset="hero-image_3-medium.jpg">
                    <img data-src="hero-image_3-large.jpg" class="hero-image lazyload" alt="hero-image">
                </picture>
            </div>
            <div class="hero-inner">
                <h1 class="hero-inner-primary"><span class="welcome">Selamat Datang di </span><br> <span id="hunger-app">Foodilo</span> <br> <span class="welcome">Wilujeng mamam...</span></h1>
            </div>
        </div>
    </header>
    <main>

    </main>
    <footer>
        <p>&copy;2021 - Foodilo</p>
    </footer>
</body>
</html>