@media screen and (max-width: 499px) {
    .navbar-list {
        z-index: 10;
        background-color: #fff;
        width: 300px;
        position: absolute;
        -webkit-transform: translate(150%, 61%);
        transform: translate(150%, 61%);
        transition: transform 0.3s ease;
    }

    .navbar-item {
        border-bottom: 1px solid #E0E0E0;
    }

    .open {
        -webkit-transform: translate(50%, 61%);
        transform: translate(50%, 61%);
    }

    .navbar-link {
        display: block;
        width: auto;
        box-sizing: border-box;
        text-align: left;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .menu__info {
        padding-left: 16px;
    }

    .other_users_review {
        margin-top: 5px;
    }

    .review {
        height: 100px;
    }

}

@media screen and (min-width: 500px) {
    .hamburger {
        display: none;
    }

    .navbar-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        top: 0;
    }

    .navbar-item {
        list-style: none;
        padding: 0 3rem;
    }

    .navbar-link {
        padding: 30px 5px;
    }
    .other_users_review {
        margin-top: 5px;
    }

    .review {
        height: 150px;
    }
}

@media screen and (min-width: 650px) {
    .content {
        padding: 16px 32px 32px 32px;
    }

    .menu-title {
        font-size: 18px;
    }

    .description {
        font-size: 14px;
    }

    .menu__main__info {
        grid-template-columns: auto 1fr;
    }

    .menu__main__info .menu__title {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .menu__main__info .menu__description {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media screen and (min-width: 700px) {
    .menu-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }
}

@media screen and (min-width: 900px) {
    .menu-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #menu-detail {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 10px;
    }

    .other_users_reviews {
        height: 550px;
    }

    .review {
        display: block;
        height: auto;
    }
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
    }
}